/*样式初始化 from taobao 略有修改*/

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}
body, button, input, select, textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
address, cite, dfn, em, var {
  font-style: normal;
}
code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset, img {
  border: 0;
}
button, input, select, textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 我的样式 */

.content {
  width: auto;
  margin: 20px;
  padding: 20px;
  border: 1px solid #999;
  background-color: #eee;
  overflow: hidden;
}
.sub, .main, .extra {
  background-color: white;
  border: 1px solid #999;
}
img {
  height: 80px;
  width: 80px;
  border: 1px solid #999;
}
.sub {
  float: left;
  width: 200px;
  height: 120px;
}
.sub img {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}
.sub p {
  margin-top: 20px;
  margin-left: 120px;
}
.main {
  padding: 20px;
  margin-right: 160px;
  margin-left: 240px;
}
.extra {
  float: right;
  width: 120px;
}
.extra img {
  margin-left: 19px;
  margin-bottom: 20px;
}
.extra img:first-child {
  margin-top: 20px;
}
